extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800
     
    // Content Row
    .row
      // Content Column
      .col-lg-12.mb-4
        // DataTales Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary #{title}
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='15')
                thead
                  tr
                    th Name
                    th Email
                    th Phone
                    th Address
                    th City
                    th Postcode
                tbody
                  each customer, i in customers
                    tr.odd.gradeX
                      td
                        a(href="/customers/"+ customer._id)= customer.name.firstname
                      td
                        = customer.email 
                      td
                        = customer.phonenumber.phone 
                      td
                        = customer.address.streetaddress 
                      td
                        = customer.address.city        
                      td
                        = customer.address.postcode
  // /.container-fluid
  // End of Main Content