extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 
    // Content Row
    .row
      // Content Column
      .col-lg-12.mb-4
        // DataTales Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary #{title}
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='15')
                thead
                  tr
                    th Company Name
                    th Email
                    th Phone
                    th Address
                    th City
                    th Postcode 

                tbody
                  each outworker, i in outworkers
                    tr.odd.gradeX
                      td
                        a(href="/outworkers/"+outworker._id)=outworker.companyname
                      td
                        = outworker.email
                      td
                        = outworker.phonenumber.phone
                      td
                        = outworker.address.streetaddress
                      td
                        = outworker.address.city
                      td
                        = outworker.address.postcode  
  // /.container-fluid
  // End of Main Content