extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 
      
      // Content Row
    .row
      // Content Column
      .col-lg-12.mb-4
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary #{title} Info
          .card-body
            .row
             
                
              .col-lg-12.mb-2
                h1 
                .table-responsive
                    table#dataTable.table.table-bordered(width='100%', cellspacing='15')
                      thead
                        tr
                          th Source
                      tbody
                        tr.odd.gradeX
                          td
                            a(href='#editRelay', data-toggle='modal', data-target='#editRelay')=relay.edge 
    
  // /.container-fluid
  // End of Main Content
  #editRelay.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editRelayLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#editRelayLabel.modal-title Edit Relay
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
            .modal-body
                form(method='POST', action='/relays/edit/'+relay.id)
                    #form-group
                        label #{title} Stream Key:
                        input.form-control(name='streamkey', type='text', value='')
                    br
                    input.btn.btn-primary(type='submit', value='Submit')
                    a.btn.btn-danger(href='/relays/'+relay.id) Cancel   